.form{
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
width: 371px;
height: 40px;
margin: 0 auto;
margin-top: 36px;
margin-bottom: 32px;
}
.form-input{
  outline: none;
border: 1px solid #808080;
border-radius: 4px;
width: 272px;
height: 40px;
background-color: white;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
}
.form-input:hover{
border: 1px solid #000;
}
.form-input:active{
border: 1px solid #4e75ff;
}
.form-btn{
  border: none;
outline: none;
border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background: #4e75ff;
color: #fff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}
.form-btn:hover{
  background: #6c8cff;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #6c8cff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #4e75ff;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.hidden {
  display: none;
}
.gallery{
  
  margin: 0 auto;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 1128px; 
  margin-bottom: 32px;
}

.gallery .gallery-item{
  cursor: pointer;
  flex: 0 1 calc((100% - 48px) / 3); 
  height: 200px;
}
.gallery .gallery-image {
  width: 100%;
  height: 152px;
  
  display: block;
  object-fit: cover;
}
.gallery .gallery-image-info{
  padding: 4px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #808080;
border-left: 1px solid #808080;
border-right: 1px solid #808080;
width: 100%;
height: 48px;
}
.gallery-btn{
  border: none;
outline: none;
border-radius: 8px;
padding: 8px 16px;
width: 125px;
height: 40px;
background: #4e75ff;
color: #fff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
margin-left: auto;
margin-right: auto;
margin-bottom: 44px;
}
.gallery-btn:hover{
  background: #6c8cff;
}